#intro {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://static.pexels.com/photos/7071/space-desk-office-workspace.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 1px 1px 1px #000;
}

.intro h1 {
  color: white;
}
#profile {
  background-image: url('https://farm8.staticflickr.com/7504/16258492451_3a097a932a_k.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#portfolio {
  background-image: url('https://pixabay.com/static/uploads/photo/2014/04/05/11/08/easel-314650_960_720.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

#contact {
  background-image: url('https://farm3.staticflickr.com/2579/4162572412_4e971c8ab3_b.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

body {
  padding-top: 50px;
}

.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.vertical-align {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}